*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.img-fluid {
  width: 100%;
}
@media (min-width: 1400px) {
  .container {
    max-width: 1270px !important;
  }
}

/* common classes */
.r4h-all-heads {
  color: #21243d;
  font-family: "Plus Jakarta Sans";
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
  margin-bottom: 32px;
}

/* Hero Section */
.r4h-hero {
  margin: 0 auto;
  border-radius: 8px;
  max-width: 1856px;
  background: linear-gradient(105deg, #edf4f5 -0.12%, #fcfafc 99.32%);
  padding-top: 50px;
  padding-bottom: 50px;
}
.r4h-hero-certification-title {
  color: #2b354e;
  font-family: "Plus Jakarta Sans";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 26px;
}
.r4h-hero p {
  color: #64748b;
  font-family: "Jost";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 32px;
}

.r4h-hero-video {
  height: 100%;
  position: relative;
  display: inline-block;
  padding-right: 15px;
}
.r4h-hero-video img {
  height: 100%;
}
.r4h-hero-video:before {
  content: "";
  background-image: url("/assets/img/Group1000003910.png");
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100px;
  width: 100px;
  transform: translate(-50%, -50%);
  cursor: pointer;
  z-index: 99;
}
.r4h-hero-images {
  display: flex;
  flex-direction: column;
  gap: 9.5px;
  border-radius: 8px;
  padding-left: 15px;
}

/* Main Section Menu */
.r4h-main-content-details {
  margin-top: 48px;
}

.r4h-main-content-menu ul {
  list-style: none;
  display: flex;
  gap: 16px;
  padding-bottom: 16px;
  border-bottom: 2px solid #e2e8f0;
}
.r4h-main-content-menu ul li > a {
  display: inline-block;
  text-decoration: none;
  color: #2b354e;
  font-family: "Jost";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  padding: 10px 24px;
  border-radius: 3px;
  background: #ffffff;
  transition: all 0.3s linear;
}
.r4h-main-content-menu ul li > a:hover {
  background: #9bf4cc;
}
.r4h-main-content-menu ul > .r4h_active > a {
  background: #9bf4cc;
}

/* Checkout Card */
.r4h-floating-checkout-card {
  max-width: 360px;
  border-radius: 5px;
  background: #fff;
  padding: 37px 20px;
  top: 30px;
  box-shadow: 2px 3px 10px 0px rgba(100, 116, 139, 0.1);
  position: fixed;
  margin: 0 auto;
}
.r4h-floating-checkout-card h2 {
  color: #2b354e;
  font-family: "Plus Jakarta Sans";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 26px;
  display: none;
}

.r4h-floating-checkout-card p > .old-price {
  color: #64748b;
  font-family: "Plus Jakarta Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: line-through;
}
.r4h-floating-checkout-card p > .new-price {
  color: #2b354e;
  font-family: "Plus Jakarta Sans";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.r4h-floating-checkout-card p > .price-text {
  color: #2b354e;
  font-family: "Plus Jakarta Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.r4h-floating-checkout-card .take-the-course {
  margin-top: 30px;
}
.r4h-floating-checkout-card .take-the-course > a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2ac37f;
  height: 49px;
  color: #f8fafc;
  font-family: "Jost";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
  border-radius: 5px;
  border: 1px solid #2ac37f;
  transition: all 0.3s linear;
}
.r4h-floating-checkout-card .take-the-course > a:hover {
  background-color: #ffffff;
  color: #2b354e;
}
.r4h-floating-checkout-card .cpd {
  display: flex;
  justify-content: space-between;
  column-gap: 2px;
  margin-top: 24px;
  margin-bottom: 16px;
}
.r4h-floating-checkout-card .cpd > div {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: #f4f4f4;
  width: 100%;
}
.r4h-floating-checkout-card .cpd > div > img {
  width: 49.327px;
}
.r4h-floating-checkout-card .course-properties {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}
.r4h-floating-checkout-card .course-properties > div {
  display: grid;
  grid-template-columns: 1fr 12fr;
  column-gap: 12px;
  align-items: center;
  border-radius: 5px;
  padding: 8px 0 8px 22px;
  border: 1px solid #e2e8f0;
}
.r4h-floating-checkout-card .course-properties > div > p {
  margin: 0;
  color: #64748b;
  font-family: "Plus Jakarta Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21.6px;
  text-transform: capitalize;
}
.r4h-floating-checkout-card .gift-the-course {
  margin: 24px 0 32px;
}
.r4h-floating-checkout-card .gift-the-course > a {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid #2ac37f;
  background: #fff;
  height: 49px;
  width: 80%;
  margin: auto;
  text-decoration: none;
  color: #2b354e;
  font-family: "Jost";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  transition: all 0.3s linear;
}
.r4h-floating-checkout-card .gift-the-course > a:hover {
  color: #ffffff;
  background: #2ac37f;
}
.r4h-floating-checkout-card .review-count {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 6px;
}
.r4h-floating-checkout-card .review-count > span {
  color: #3f4554;
  font-family: "Plus Jakarta Sans";
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
}
.r4h-floating-checkout-card .review-count > span > span {
  text-decoration: underline;
}
.r4h-floating-checkout-card .review-io-logo {
  margin: 10px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.r4h-floating-checkout-card .social-links {
  margin: 24px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 29px;
}
.r4h-floating-checkout-card .social-links > a {
  display: inline-block;
}
.r4h-floating-checkout-card .social-links > a > img {
  height: 24px;
}
.r4h-floating-checkout-card .review-slider {
  position: relative;
}

.r4h-floating-checkout-card .review-slider .slick-slider {
  width: 80%;
  margin: auto;
}

.r4h-floating-checkout-card .review-slider .slick-slider .element {
  width: 100%;
  border-radius: 5px;
  display: inline-block;
  margin: 0px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 20px;
}
.r4h-floating-checkout-card .slick-slider .slick-disabled {
  opacity: 0;
  pointer-events: none;
}
.r4h-floating-checkout-card .review-slider .slick-slider .element p {
  color: #64748b;
  text-align: center;
  font-family: "Jost";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14.4px;
}
.r4h-floating-checkout-card .review-slider .slick-slider .element h5 {
  color: #2b354e;
  font-family: "Plus Jakarta Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}
.r4h-floating-checkout-card span.slick-arrow {
  width: 18px;
  height: 18px;
  color: #64748b;
  font-weight: 900;
  border-radius: 18px;
  background: #fffbff;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.04);
}
.r4h-floating-checkout-card span.prevvv {
  position: absolute;
  left: -10%;
  top: 50%;
  transform: translateY(-50%);
}
.r4h-floating-checkout-card span.nxxxxt {
  position: absolute;
  right: -10%;
  top: 50%;
  transform: translateY(-50%);
}

/* about section */
.r4h-post-content-about {
}

/* description part */
.r4h-post-content-about-description {
  margin: 40px 0;
}

.r4h-post-content-about-description p {
  color: #64748b;
  font-family: "Jost";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

/* What you'll Learn Part*/
.r4h-post-content-about-what {
  margin: 40px 0;
}
.r4h-post-content-about-what > h3 {
  font-size: 24px;
}
.r4h-post-content-about-what-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 30px;
  row-gap: 24px;
}
.r4h-post-content-about-what-grid > div {
  display: flex;
}
.r4h-post-content-about-what-grid > div > span {
  width: 8%;
}
.r4h-post-content-about-what-grid > div > span > img {
  width: 16px;
}
.r4h-post-content-about-what-grid > div > p {
  width: 92%;
  color: #64748b;
  font-family: "Jost";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22.4px;
}

/* Certificate Part */
.r4h-post-content-about-certificate {
  margin: 40px 0;
}
.r4h-post-content-about-certificate > h3 {
  margin-bottom: 20px;
}
.r4h-post-content-about-certificate > h4 {
  color: #64748b;
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 27.17px;
  margin-bottom: 16px;
}
.r4h-post-content-about-certificate > p {
  color: #64748b;
  font-family: "Jost";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27.17px;
}
.r4h-post-content-about-certificate > h2 {
  margin-top: 24px;
  margin-bottom: 24px;
}

/* Why should you take this course part */
.r4h-post-content-about-why {
  margin: 40px 0;
}
.r4h-post-content-about-why > p {
  color: #64748b;
  font-family: "Jost";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27.17px;
}
.r4h-post-content-about-why > p > span {
  font-weight: 700;
}

/* Course Curriculum */
.r4h-post-content-curriculam {
}

/* FAQ Section */
.r4h-post-content-faq {
}
.r4h-post-content-faq h3 {
  font-size: 32px;
}

/* How do our courses work? */
.r4h-how-this-work-alpha {
  margin-top: 100px;
}
.r4h-how-this-work-alpha h3 {
  font-size: 32px;
  text-align: center;
}
.r4h-how-this-work-alpha .how-this-works-contents {
  display: flex;
  flex-direction: row;
  column-gap: 28px;
}
.r4h-how-this-work-alpha .how-this-works-contents div {
  border-radius: 50px 0px;
  background: #eff4fa;
  padding: 25px;
}
.r4h-how-this-work-alpha .how-this-works-contents div > h6 {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ebfdf5;
  color: #2ac37f;
  text-align: center;
  margin: 0 auto;
  font-family: "Plus Jakarta Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
}
.r4h-how-this-work-alpha .how-this-works-contents div > h4 {
  color: #2b354e;
  font-family: "Plus Jakarta Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  margin: 15px 0 20px;
}
.r4h-how-this-work-alpha .how-this-works-contents div > p {
  color: #64748b;
  font-family: "Jost";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22.4px;
  margin: 0;
}
/* Related Projects */
.r4h-alpha-related-courses {
  margin-top: 100px;
  margin-bottom: 100px;
}
.r4h-alpha-related-courses h3 {
  font-size: 32px;
  text-align: center;
}
.r4h-alpha-related-courses .all-related-courses {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  column-gap: 30px;
}
.r4h-alpha-related-courses .single-related-course {
  max-width: 384px;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.06);
  background: #fff;
}
.r4h-alpha-related-courses .single-related-course .card-content {
  padding: 20px;
}
.r4h-alpha-related-courses
  .single-related-course
  .card-content
  .rating-quality {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.r4h-alpha-related-courses
  .single-related-course
  .card-content
  .rating-quality
  > .rating {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 2px;
}
.r4h-alpha-related-courses
  .single-related-course
  .card-content
  .rating-quality
  > .rating
  > p {
  color: #4b5162;
  font-family: "Plus Jakarta Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  margin: 0;
}
.r4h-alpha-related-courses
  .single-related-course
  .card-content
  .rating-quality
  > .quality {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 2px;
}
.r4h-alpha-related-courses
  .single-related-course
  .card-content
  .rating-quality
  > .quality
  > p {
  color: #5bbb43;
  font-family: "Plus Jakarta Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0;
}
.r4h-alpha-related-courses .single-related-course .card-content h2 {
  color: #3f4554;
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 25.6px;
  text-transform: capitalize;
  margin-top: 8px;
  margin-bottom: 20px;
}
.r4h-alpha-related-courses .single-related-course .card-content .price-student {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 16px;
}
.r4h-alpha-related-courses
  .single-related-course
  .card-content
  .price-student
  .price {
  display: flex;
  justify-content: center;
  align-items: end;
}
.r4h-alpha-related-courses
  .single-related-course
  .card-content
  .price-student
  .price
  h4 {
  margin: 0;
}
.r4h-alpha-related-courses
  .single-related-course
  .card-content
  .price-student
  .price
  .new {
  color: #2b354e;
  font-family: "Plus Jakarta Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}
.r4h-alpha-related-courses
  .single-related-course
  .card-content
  .price-student
  .price
  .old {
  color: #b7c0b8;
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  margin-left: 2px;
}
.r4h-alpha-related-courses
  .single-related-course
  .card-content
  .price-student
  .price
  .discount {
  display: flex;
  height: 24px;
  padding: 0 15px;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  background: #2ac37f;
  color: #fff;
  text-align: center;
  font-family: "Plus Jakarta Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 10px;
}
.r4h-alpha-related-courses
  .single-related-course
  .card-content
  .price-student
  .student {
  display: flex;
  justify-content: center;
  align-items: end;
  column-gap: 2px;
}
.r4h-alpha-related-courses
  .single-related-course
  .card-content
  .price-student
  .student
  > p {
  margin: 0;
  color: #4b5162;
  font-family: "Plus Jakarta Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.r4h-alpha-related-courses .single-related-course .card-content a.add-to-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 4px;
  height: 50px;
  border-radius: 3px;
  background: #2ac37f;
  text-decoration: none;
  color: #fff;
  font-family: "Plus Jakarta Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

@media (max-width: 1080px) and (min-width: 991px){
  /* Checkout Card */
  .r4h-floating-checkout-card{
    max-width: 300px;
  }
}

/* Tablet */
@media only screen and (max-width: 1024px) {
  /* Hero Section */
  .r4h-hero-video {
    padding-right: 10px;
  }
  .r4h-hero-images {
    padding-left: 10px;
  }

  /* Related Projects */
  .r4h-alpha-related-courses .all-related-courses {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    column-gap: 15px;
    row-gap: 15px;
  }

  /* How do our courses work? */
  .r4h-how-this-work-alpha .how-this-works-contents {
    column-gap: 10px;
    row-gap: 20px;

    justify-content: center;
  }
}
@media only screen and (max-width: 991px) {
  /* Checkout Card */
  .r4h-floating-checkout-card{
    max-width: 300px;
  }

  /* How do our courses work? */
  .r4h-how-this-work-alpha .how-this-works-contents {
    column-gap: 10px;
    row-gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .r4h-how-this-work-alpha .how-this-works-contents div {
    border-radius: 50px 0px;
    background: #eff4fa;
    padding: 15px;
    max-width: 266px;
  }
}

/* Mobile responsive */
@media only screen and (max-width: 767px) {
  /* Hero Section */
  .r4h-hero .r4h-hero-certification img {
    width: 70%;
  }
  .r4h-hero-images::-webkit-scrollbar {
    display: none;
  }
  .r4h-hero-certification-title {
    display: none;
  }

  /* Checkout Card */
  .r4h-floating-checkout-card {
    max-width: none;
    width: 100%;
  }
  .r4h-floating-checkout-card h2 {
    display: block;
  }

  /* Main Section Menu */
  .r4h-main-content-details {
    margin-top: 38px;
  }
  .r4h-main-content-menu ul {
    list-style: none;
    display: flex;
    column-gap: 8px;
    padding-bottom: 10px;
    border-bottom: 2px solid #e2e8f0;
  }
  .r4h-main-content-menu ul li > a {
    display: inline-block;
    text-decoration: none;
    color: #2b354e;
    font-family: "Jost";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    padding: 10px 12px;
    border-radius: 3px;
    background: #ffffff;
    transition: all 0.3s linear;
  }

  /* Main Content */
  .r4h-main-content .r4h-reverse {
    display: flex;
    justify-content: center;
    flex-direction: column-reverse !important;
  }

  /* What you'll Learn Part*/
  .r4h-post-content-about-what-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  /* How do our courses work? */
  .r4h-how-this-work-alpha .how-this-works-contents {
    row-gap: 20px;
    flex-wrap: wrap;
  }

  /* Related Projects */
  .r4h-alpha-related-courses .all-related-courses {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    column-gap: 15px;
    row-gap: 15px;
  }
  .r4h-alpha-related-courses .single-related-course{
    margin: 0 auto;
  }
}
